* {
  box-sizing: border-box;
}

html {
  
  font-family:
    Verdana, Geneva, Tahoma, sans-serif;
  background-color: lavender;
  color: grey;
  margin: 10px;

}

main {
  margin: 10px;
}

.img {

  width: 100%;
  height: auto;
  border-radius: 30px;
}


.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: auto;

}

a {
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
  ;
}


a:hover {
  transform: translateY(-5px);
}

.titular {
  text-align: center;
}

.titular-2 {
  text-align: center;
}

#form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: 40px auto;
}

#form label {
  display: block;
  margin-bottom: 10px;
}

#form input[type="text"],
#form select,
#form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  font-size: 16px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

#form textarea {
  height: 150px;
}

#form button[type="submit"] {
  background-color: #4CAF50;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;

}

.fa-brands {
  width: 90px;
}

.avena {
  display: flex;


}

.img-avena {

  padding: 3px;
  margin: 10px;


}



@media (max-width: 640px) {
  /* Celular */


  .nav-bar {
    display: contents
  }

  .img-avena {
    display: none;

  }
  .img{
   
    height: auto;
  }


}




@media (max-width: 1040px) {
  /* Celular */

  img {
    width: 30px;

    border-radius: 30px;
  }

  .nav-bar {
    font-size: xx-small;
    
  }

  .img-avena {
    display: none;


  }

}