<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Bienestar y Salud</title>
</head>

<body>
    <header>

        <a href="/"><img class="img-header" src="/img/foto-header.png" alt="logo"></a>
        <nav>

            <ul class="nav-bar">
                <li><a href="/"> <i class="fa-solid fa-house"> Inico </i></a></li>
                <li><a href="/recetas"><i class="fa-solid fa-utensils"> Recetas </i></a></li>
                <li><a href="/motivaciones"><i class="fa-solid fa-heart"> Motivaciones </i></a></li>
                <li><a href="/consejos"><i class="fa-solid fa-pen-to-square"> Consejos </i></a></li>
                <li><a href="#contacto"><i class="fa-regular fa-paper-plane"> Contacto</i></a></li>
            </ul>

        </nav>

    </header>

    <main>
        <section>
            <h2 class="titular">Bienvenid@s</h2>
            <p>Diariamente, al comer, no tenemos un conocimiento claro sobre los contenidos nutricionales, calorías,
                cantidades de sodio o azúcar de cada alimento. Y no siempre se tiene en cuenta que una dieta saludable
                es
                aquella que proporciona todos los nutrientes que el cuerpo necesita para mantener su buen
                funcionamiento.
            </p>
            <p>Comer alimentos sanos es esencial para el cerebro y la mente y así como se es exigente cuando se trata de
                comprar ropa, un auto o una casa, hay que usar esa misma exigencia con la alimentación.</p>
            <p>Solo basta pensar que, además de prevenir la malnutrición, una dieta adecuada también contribuye a
                disminuir
                el riesgo de padecer enfermedades no transmisibles.</p>

            <p> Sin mas que decir, te invitamos a recorrer esta hermosa aventura juntos, en la cual aprenderas a comer
                sano, rico y mantener el equilibrio ideal que tu cuerpo y mente necesitan. ツ </p>

        </section>
        <article>

            <h2 class="titular">Beneficios de consumir avena</h2>

            <div class="avena">

                <img class="img-avena" src="/img/avena.jpg" alt="imagen de avena">

                <p>
                    La avena es un cereal saludable ya que contiene importantes nutrientes, vitaminas y minerales.
                    Además es
                    uno de los cereales más consumidos desde hace ya mucho tiempo, dado que por sus especiales
                    cualidades,
                    tanto nutritivas como energéticas, se convirtió en la base de la alimentación de pueblos y
                    civilizaciones.

                    El consumo habitual de avena ayuda a disminuir los niveles de colesterol y azúcar en sangre. Además,
                    gracias a sus fitoquímicos, nos protege contra el cáncer. Aporta energía, B6, Vitamina E y B5,
                    también
                    minerales como hierro, selenio, manganeso y cobre, además de aminoácidos esenciales.

                    Su contenido en fibra soluble beneficia a las personas con diabetes, debido a que favorece la
                    digestión
                    del almidón estabilizando los niveles de azúcar, sobre todo después de comer.
                    Facilita el tránsito intestinal y evita el estreñimiento. Además, debido a su contenido en hidratos
                    de
                    carbono complejos, aumenta la saciedad por lo que es ideal para ayudar a hacer una dieta sana. La
                    fibra
                    insoluble además reduce los ácidos biliares y disminuye su capacidad tóxica.
                    Es el cereal que contiene más proteínas, además son proteínas de alto valor porque contienen al
                    menos 8
                    aminoácidos esenciales, lo cual ayuda a la producción y desarrollo de tejido nuevo en el organismo.
                    Contiene sustancias de origen vegetal que ayudan a prevenir el riesgo de cáncer, por ello se
                    aconseja
                    consumir avena todos los días, para reducir en más del 10% la posibilidad de padecer cáncer de mama
                    o de
                    colon.
                    Es una buena fuente de grasas insaturadas como el omega 6, lo que ayuda a disminuir el LDL o
                    colesterol
                    malo, también por su contenido en aminoácidos esenciales, en especial la metionina.
                    Contiene vitaminas del complejo B, los cuales están involucrados en el desarrollo y mantención del
                    sistema nervioso central.
                    Previene el hipotiroidismo, ya que contiene yodo.
                    Tiene los niveles necesarios de calcio para prevenir la desmineralización ósea.
                    Es un exfoliante maravilloso, lo que hace que se pueda utilizar también de manera tópica en
                    tratamientos
                    de belleza.
                    Te recomendamos especialmente tomarla en el desayuno como fuente de energía, ya que nos ayudará a
                    afrontar nuestro día a día. </p>

            </div>

        </article>
        <br>
        <br>

        <div class="video-avena">
            <iframe class="iframe-video" src="https://www.youtube.com/embed/JoDGNcvSerg" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>

        </div>

        <article>
            <div class="receta-avena">
                <h2 class="titular">Receta simple con avena </h2>

                <ul>
                    <li>60 gramos de avena</li>
                    <li>Un huevo</li>
                    <li>150 ml. de leche</li>
                    <li>Una cucharadita de polvo para hornear</li>
                    <li>Una pizca de sal</li>
                    <li>Stevia a gusto</li>
                </ul>
            </div>

            <h3><em>Instrucciones:</em></h3>
            <p>
                Licuar todos los ingredientes. La mezcla tiene que ser espesa pero tenemos que poder
                verterla desde el vaso licuador. Si está muy espesa, agreguen leche de a una
                cucharada, para evitar el efecto contrario.
                Calentar bien a fuego medio una sartén antiadherente.
                Verter desde el vaso licuador un poco de mezcla, sin mover el vaso para que la mezcla
                caiga parejo y el panqueque quede redondo.
                Cuando la superficie tenga burbujitas, dar vuelta y cocinar por algunos segundos más.
                También podes agregar por encima algunas frutillas o arandanos.
            </p>

            <div class="img-avena2">
                <img class="item-avena" src="/img/panqueques-avena2.webp" alt="imagen panqueque de avena">
                <img class="item-avena" src="/img/panqueques-avena.webp" alt=" imagen panqueque de avena">
            </div>


            <a href="./pages/recetas.html" class="mas-recetas">
                <button class="boton-mas-recetas">+ Más recetas <i class="fa-solid fa-utensils"></i></button>
            </a>
            <div class="ifra-recetas">
                <iframe src="/recetas"></iframe>
            </div>
            <br>
            <br>

        </article>

        <article>
            <h2 class="titular">Armando nuestras comidas</h2>
            <p>Es de suma importancia que tengamos presente cuales son los nutrientes que no pueden faltar en nuestro
                plato. Como indispensable, debemos consumir siempre frutas y verduras, las cuales nos aportan mayormente
                fibras. </p>

            <p> En una de las comidas, debemos incluir una proteína o hidrato. En los gráficos que se muestran a
                continuación, tenemos un ejemplo para llevarlo a la practica</p>


            <div class="contenedor-graficos">

                <img class="img-grafico" src="/img/grafico.png" alt="imagen de grafico">
                <img class="img-grafico" src="/img/grafico2.jpg" alt="imagen de grafico">
                <img class="img-grafico" src="/img/grafico3.jpg" alt="imagen de grafico">
            </div>

        </article>

        <section>
            <a name="contacto"></a>
            <h2 class="titular">Recibí nuestras novedades</h2>

            <ul id="errores">

            </ul>
            <form id="form">

                <label for="name">Nombre:</label>
                <input type="text" id="name" name="name" placeholder="Ej: Cosme">


                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido" name="apellido" placeholder="Ej: Fulanito">


                <label for="correo">Correo electrónico:</label>
                <input type="text" id="correo" name="correo" placeholder="cfulanito@gmail.com">


                <label for="nacionalidad">Nacionalidad (opcional):</label>
                <select id="nacionalidad" name="nacionalidad">
                    <option value="value1">argentina</option>
                    <option value="value1">brasilera</option>
                    <option value="value1">boliviana</option>
                    <option value="value1">chilena</option>
                    <option value="value1">colombiana</option>
                    <option value="value1">ecuatoriana</option>
                    <option value="value1">paraguaya</option>
                    <option value="value1">peruana</option>
                    <option value="value1">uruguaya</option>
                    <option value="value1">venezolana</option>
                    <option value="value2">Otra</option>

                </select>

                <label for="Mensaje">Mensaje:</label>
                <textarea id="Mensaje" name="mensaje" placeholder=" Mínimo 100 carácteres"></textarea>
                <button type="submit">Enviar</button>

            </form>

        </section>

    </main>
    <!-- Boton de scroll hacia arriba -->
    <div id="button-up">
        <i class="fa-sharp fa-solid fa-chevron-up"></i>
    </div>

    <br>
    <br>

    <footer>
        <div class="contenedor-footer">

            <p> Made with ♥ by Ariel Cesari - Healthy Life -</p>

            <ul class="nav-bar-footer">
                <li><a href="/">Inico</a></li>
                <li><a href="/recetas">Recetas</a></li>
                <li><a href="/motivaciones">Motivaciones</a></li>
                <li><a href="/consejos">Consejos</a></li>


            </ul>

            <ul class="ul-iconos">

                <li><a href="#"><i class="fa-brands fa-instagram"></a></i></li>
                <li><a href="https://w.app/UA5HWX"><i class="fa-brands fa-whatsapp"></a></i> </li>
                <li><a href="#"><i class="fa-brands fa-facebook"></a></i> </li>

        </div>

    </footer>

    <script src="/scripts/validacionForm.js"></script>
    <script src="/scripts/scroll.js"></script>

</body>

</html>