<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("./partials/head.ejs") %>

        <title>Motivaciones</title>
</head>

<body>
    <header>

        <%- include("./partials/header.ejs") %>

    </header>

    <div class="imagenes-frases">
        <img class="img-item" src="/img/frase-1.jpg" alt=" imagen motivacional ">
        <img class="img-item" src="/img/frase-2.jpg" alt="imagen motivacional">
        <img class="img-item" src="/img/frase-3.jpg" alt="imagen motivacional">



        <img class="img-item" src="/img/frase-4.jpg" alt="imagen motivacional">
        <img class="img-item" src="/img/frase-5.jpg" alt="imagen motivacional">
        <img class="img-item" src="/img/frase-6.jpg" alt="imagen motivacional">


        <img class="img-item" src="/img/frase-7.jpg" alt="imagen motivacional">
        <img class="img-item" src="/img/frase-8.jpg" alt="imagen motivacional">
        <img class="img-item" src="/img/frase-9.jpg" alt="imagen motivacional">
    </div>

    <section>
        <a name="contacto"></a>
        <h2 class="titular">Recibí nuestras novedades</h2>

        <ul id="errores">

        </ul>
        <form id="form">

            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" placeholder="Ej: Cosme">


            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido" placeholder="Ej: Fulanito">


            <label for="correo">Correo electrónico:</label>
            <input type="text" id="correo" name="correo" placeholder="cfulanito@gmail.com">


            <label for="nacionalidad">Nacionalidad (opcional):</label>
            <select id="nacionalidad" name="nacionalidad">
                <option value="value1">argentina</option>
                <option value="value1">brasilera</option>
                <option value="value1">boliviana</option>
                <option value="value1">chilena</option>
                <option value="value1">colombiana</option>
                <option value="value1">ecuatoriana</option>
                <option value="value1">paraguaya</option>
                <option value="value1">peruana</option>
                <option value="value1">uruguaya</option>
                <option value="value1">venezolana</option>
                <option value="value2">Otra</option>

            </select>

            <label for="Mensaje">Mensaje:</label>
            <textarea id="Mensaje" name="mensaje" placeholder=" Mínimo 100 carácteres"></textarea>
            <button type="submit">Enviar</button>

        </form>
    </section>

    <!-- Boton de scroll hacia arriba -->
    <div id="button-up">
        <i class="fa-sharp fa-solid fa-chevron-up"></i>
    </div>


     <!-- FOOTER -->
     <%- include("./partials/footer.ejs") %>

    <script src="/scripts/validacionForm.js"></script>
    <script src="/scripts/scroll.js"></script>
</body>

</html>