<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("./partials/head.ejs") %>

        <title>Recetas</title>
</head>

<body>
    <header>

        <%- include("./partials/header.ejs") %>

    </header>

    <main>

        <h1 class="titular">Recetario</h1>

        <div class="container-indice">
            <img class="img-chef" src="/img/recetas.webp" alt="imagen de hombre cocinando">
            <ul class="indice-recetas-veg">
                <li><a href="#1">Croquetas de zanahoria</a></li>
                <li><a href="#2">Berengenas napolitanas</a></li>
                <li><a href="#3">Souflé de acelga</a></li>
                <li><a href="#4">Croquetas de calabaza y espinaca</a></li>
                <li><a href="#5">Lasagna de espinaca o acelga</a></li>
                <li><a href="#6">Cazuela de vegetales</a></li>
                <li><a href="#7">Pizza de calabaza</a></li>
                <li><a href="#8">Tomates al horno</a></li>
                <li><a href="#9">Tortilla dietética</a></li>
            </ul>

            <ul class="indice-recetas-carne">
                <li><a href="#10">Pechuguitas con salsa de limón</a></li>
                <li><a href="#11">Pollo a la naranja</a></li>
                <li><a href="#12">Bifecitos de ternera a la portuguesa</a></li>
                <li><a href="#13">Peceto con salsa de hongos</a></li>
                <li><a href="#14">Pechuguitas de pollo a la criolla</a></li>
                <li><a href="#15">Carne salteada con vegetales</a></li>


            </ul>

        </div>
        <div class="contenedor-recetas">
            <article>

                <h2 class="titular">Vegetariano</h2>

                <ul>

                    <li>
                        <a name="1"></a>
                        <h3><em>Croquetas de zanahoria</em></h3>

                        <ol class="lista-pasos">
                            <li>Cocinar 250 g de zanahorias y pisarlas.</li>
                            <li>Agregar 1 cebolla chica bien picada, un diente de
                                ajo machacado, 1 huevo batido, 1 cucharada postre de harina, sal y orégano.</li>
                            <li>Formar las
                                croquetas y pasarlas por el pan rallado.</li>
                            <li>Ubicar en una asadera previamente rociada con rocío
                                vegetal. Dorar en horno moderado</li>
                        </ol>

                        <img class="foto-lista" src="/img/croquetas-zanahoria-1280x720x80xX.jpg"
                            alt="croquetas-zanahoria">

                    </li>

                    <li>
                        <a name="2"></a>
                        <h3><em>Berengenas napolitanas</h3></em>


                        <ol class="lista-pasos">
                            <li>Hervir 1 berenjena grande y cortarla en forma transversal.</li>
                            <li>Colocarla en una asadera previamente rociada con rocío vegetal.</li>
                            <li>Cortar una cebolla en aros y 1 tomate en rodajas y colocarlos sobre las mitades de las
                                berenjenas</li>
                            <li>Ubicar en una asadera previamente rociada con rocío
                                vegetal. Dorar en horno moderado</li>
                            <li>Cubrir con queso descremado.</li>
                            <li>Gratinar en horno moderado.</li>
                            <li>Decorar con hojas de albahaca y servir</li>
                        </ol>

                    </li>
                    <img class="foto-lista" src="/img/berengenas.jpg" alt=" imagen berengenas napolitanas">


                    <li>
                        <a name="3"></a>

                        <h3><em>Souflé de acelga</h3></em>


                        <ol class="lista-pasos">
                            <li>Hervir 200 g de acelga.</li>
                            <li>Pisar hasta obtener un puré</li>
                            <li>Agregar salsa blanca diet y ½ yema de huevo y condimentar.</li>
                            <li>Batir 2 claras a nieve.</li>
                            <li>Unir ambas preparaciones con movimientos envolventes.</li>
                            <li>Colocar en fuente de horno de teflón o pincela con rocío vegetal. Cocinar en horno
                                moderado.</li>

                        </ol>

                    </li>

                    <img class="foto-lista" src="/img/souffle_de_acelga.jpg" alt=" imagen soufle de acelga">

                    <li>

                        <a name="4"></a>
                        <h3> <em>Croquetas de calabaza y espinaca</em></h3>

                        <ol class="lista-pasos">
                            <li>Picar espinaca hervida y escurrida.</li>
                            <li>Hacer un puré con la calabaza hervida. Condimentar.</li>
                            <li>Fraccionar, pasar por clara de huevo ligeramente batida y por pan rallada. </li>
                            <li>Colocar sobre placa para horno humedecida y cubierta de pan rallado. Pincelar con aceite
                                y hornear</li>


                        </ol>

                    </li>

                    <img class="foto-lista" src="/img/croquetas-espinaca-calabaza.avif"
                        alt="croquetas-espinaca-calabazaS" alt="imagen croquetas de espinaca y calabaza">

                    <li>
                        <a name="5"></a>
                        <h3> <em>Lasagna de espinaca o acelga</em></h3>

                        <ol class="lista-pasos">
                            <li>Cocinar 2 cebollas y 1 morrón colorado apenas rociados con aceite en 1 bol para
                                microondas tapado con papel film</li>
                            <li>Agregar la espinaca o acelga previamente cocinada</li>
                            <li>Mezclarle a esa preparación perejil, ajo y 3 claras</li>
                            <li>Aparte pasar fetas de queso de máquina por huevo batido y forrar un recipiente</li>
                            <li>Colocar la mezcla de la verdura, después nuevamente las fetas de queso de máquina
                                pasadas por huevo</li>
                            <li> Llevar a horno hasta que se dore y servir caliente</li>
                        </ol>

                    </li>

                    <img class="foto-lista" src="/img/lasagna-espinaca.jpg" alt="imagen lasgna de espinaca">

                    <li>

                        <a name="6"></a>

                        <h3> <em>Cazuela de vegetales</em></h3>


                        <ol class="lista-pasos">
                            <li>Rociar una cacerola e incorporar calabaza cortada en cubos (darle previamente un pequeño
                                hervor), zapallitos cortados en rodajas finas y cebolla picada. </li>
                            <li>Rehogar de 3 a 4 minutos.</li>
                            <li>Añadir tomates cortados en cubos, granos de choclo, ajo picado, sal, orégano, pimienta y
                                albahaca</li>
                            <li>Agregar uno o dos huevos cocinados con fritolin.</li>
                            <li>Cocinar 2 o 3 minutos.</li>

                        </ol>

                    </li>
                    <img class="foto-lista" src="/img/cazuela-vegetales.jpg" alt="imagen cazuela de vegetales">
                    <li>

                        <a name="7"></a>
                        <h3> <em>Pizza de calabaza</em></h3>

                        <ol class="lista-pasos">
                            <li>Cocinar 1 calabaza y 3 zanahorias cortadas en trozos</li>
                            <li>Una vez cocinadas incorporar 250 gr de ricota descremada,
                                dicha preparación colocarla sobre asadera previamente rociada con rocío vegetal y llevar
                                a
                                horno hasta que se dore</li>
                            <li>Colocar por encima 2 tomates y 1 diente de ajo bien picado, orégano y condimento para
                                pizza
                            </li>
                            <li>Cubrir con queso descremado y gratinar.</li>

                        </ol>

                    </li>
                    <img class="foto-lista" src="/img/pizza_de_calabaza.jpg" alt="imagen pizza de calabazza">
                    <li>
                        <a name="8"></a>
                        <h3><em>Tomates al horno</em></h3>

                        <ol class="lista-pasos">
                            <li>Precalentar el horno a 180 ºC.</li>
                            <li>Rociar ligeramente una asadera. </li>
                            <li>Colocar los tomates cortado en mitades sobre la fuente con el corte hacia arriba.</li>
                            <li>Espolvorear sobre las mitades perejil fresco picado, sal, orégano y albahaca.</li>
                            <li>Cocinar. Al retirar del horno verter el aceite. </li>
                            <li>Servir caliente y a disfrutar</li>
                        </ol>



                    </li>
                    <img class="foto-lista" src="/img/tomates-al-horno.jpg" alt="imagen tomates al horno">
                    <li>

                        <a name="9"></a>
                        <h3><em>Tortilla dietética</em></h3>




                        <ol class="lista-pasos">
                            <li>Hervir el vegetal</li>
                            <li>Incorporar clara batida</li>
                            <li>Verter la preparación en una asadera humedecida con rocío vegetal</li>
                            <li>Cocinar a fuego moderado </li>

                        </ol>



                    </li>

                    <img class="foto-lista" src="/img/tortilla.webp" alt="imagen tortilla">
                </ul>



            </article>

            <article>

                <h2 class="titular">Con carne y pollo</h2>

                <ul>

                    <li>

                        <a name="10"></a>
                        <h3><em>Pechuguitas con salsa de limón</em></h3>

                        <h3>Ingredientes:(4 porciones)</h3>
                        <ul class="lista-pasos">
                            <li>4 pechugas de pollo.</li>
                            <li>2 cucharadas de caldo de ave desgrasado.</li>
                            <li>200gr de cebolla de verdeo.</li>
                            <li>1 blanco de puerro grande picado.</li>
                            <li>¼ De vaso de vino blanco.</li>
                            <li>Jugo de 1 limón.</li>
                            <li>Ralladura de la piel de 1 limón.</li>
                            <li>1 cucharada de maicena.</li>
                            <li>Pimienta a gusto </li>

                        </ul>

                        <h3>Preparación</h3>

                        <ol class="lista-pasos">
                            <li>Quitarles la piel a las pechugas. Calentar en una sartén un cucharón de caldo de ave
                                desgrasado y cuando rompa el hervor agregar las cebollas de verdeo y el blanco de
                                puerro
                                picados.</li>
                            <li>Dejar rehogar las verduras y agregar el vino blanco. Dejar hervir durante unos
                                minutos
                                para
                                evaporar el vino y agregar las pechugas de pollo a la sartén. Sellar las pechugas de
                                ambos
                                lados y añadir el resto del caldo de ave.</li>
                            <li>Bajar el fuego y mantener la cocción en ebullición suave.</li>
                            <li>Disolver la maicena en el jugo de limón mezclarle la ralladura de limón y agregarlo
                                a la
                                preparación de la sartén. Si la salsa resulta demasiada espesa agregar unas
                                cucharadas
                                de
                                caldo. Servir.</li>
                        </ol>



                    </li>

                    <img class="foto-lista" src="/img/pollo-al-limon.jpg" alt="imagen pollo al limon">

                    <li>

                        <a name="11"></a>
                        <h3> <em>Pollo a la naranja</em></h3>

                        <h3>Ingredientes:(4 porciones)</h3>
                        <ul class="lista-pasos">
                            <li>4 pechugas de pollo sin piel.</li>
                            <li>1 taza de caldo de ave desgrasado o Caldos de verduras DIETÉTICOS ( Rondó,
                                Tibaldi,Caldiet.)
                            </li>
                            <li>2 blancos de puerro picados.</li>
                            <li>Jugo de 3 naranjas</li>
                            <li>1 cucharada de perejil picado.</li>
                            <li>1 cucharadita de almidón de maíz o maicena.</li>

                        </ul>
                        <h3>Preparación</h3>

                        <ol class="lista-pasos">
                            <li>Calentar la mitad del caldo de ave desgrasado o caldo de verduras dietético en una
                                sartén y
                                una vez que hierva, agregar los puerros picados muy finos y rehogarlos.</li>
                            <li>Quitar el excedente de grasa de las pechugas y una vez que los puerros se han rehogado,
                                agregarlas a la sartén para sellarlas de ambos lados.
                                Incorporar el jugo de las naranjas. Colocar pimienta a gusto.</li>
                            <li>Continuar la cocción de las pechugas a fuego suave, agregando más caldo a medida que el
                                líquido se evapora.</li>
                            <li>Disolver el almidón de maíz o maicena en un poco del fondo de la preparación y agregarlo
                                a
                                la sartén unos minutos antes de terminar la cocción. Dejar hervir durante unos minutos
                                hasta
                                que la salsa espese.</li>
                            <li>Espolvorear con el perejil picado y apagar el fuego.</li>
                            <li>Servir las pechugas bañadas con la salsa de naranja.Puede acompañarse con zanahorias
                                cocidas
                                al vapor.</li>

                        </ol>



                    </li>

                    <img class="foto-lista" src="/img/pollo-naranja.jpg" alt="imagen pollo a la naranja">


                    <li>
                        <a name="12"></a>

                        <h3><em>Bifecitos de ternera a la portuguesa</em></h3>

                        <h3>Ingredientes:(4 porciones)</h3>
                        <ul class="lista-pasos">
                            <li>800 gr de milanesas de nalga perfectamente desgrasadas.</li>
                            <li>1 cebolla grande cortada en juliana.</li>
                            <li>2 pimientos verdes cortados en juliana./li>
                            <li>1 pimiento rojo cortado en juliana.</li>
                            <li>4 dientes de ajo picados.</li>
                            <li>1 taza de caldo de carne desgrasado.</li>
                            <li>4 cucharadas de vino tinto.</li>
                            <li>2 hojas de laurel.</li>
                            <li>1 cucharadita de romero.</li>
                            <li>1 cucharadita de romero.</li>
                            <li>Pimienta a gusto.</li>

                        </ul>
                        <h3>Preparación</h3>

                        <ol class="lista-pasos">
                            <li>Calentar el caldo de carne desgrasado en una cacerola y cuando rompa el hervor, agregar
                                la
                                cebolla, los pimientos y el ajo. Tapar la cacerola y cocinar durante cinco minutos.</li>
                            <li>Una vez rehogadas las verduras, incorporar las milanesas a la cacerola y revolver para
                                mezclar muy bien la carne con las verduras. Continuar la cocción durante cinco minutos
                                más y
                                con la cacerola destapada.</li>
                            <li>Incorporar los tomates, el vino, el laurel, el romero y el tomillo. Mezclar todos los
                                ingredientes.</li>
                            <li>Continuar la cocción durante veinte minutos con la cacerola destapada, el fuego de la
                                hornalla suave y revolviendo de vez en cuando.</li>

                        </ol>

                    </li>

                    <img class="foto-lista" src="/img/bifes-portuguesa.jpg" alt="imagen bifes a la portuguesa">

                    <li>
                        <a name="13"></a>
                        <h3><em>Peceto con salsa de hongos</em></h3>

                        <h3>Ingredientes:(4 porciones)</h3>
                        <ul class="lista-pasos">
                            <li>1 Peceto de 1 Kg.</li>
                            <li>2 cebollas medianas picadas.</li>
                            <li>2 blancos de puerro picados.</li>
                            <li>1 zanahoria chica cortada en daditos.</li>
                            <li>1 Lt. de caldo de vegetales desgrasado.</li>
                            <li>1 vaso de vino tinto.</li>
                            <li>100 gr de hongos secos.</li>
                            <li>1 cucharada de Maicena.</li>


                        </ul>
                        <h3>Preparación</h3>

                        <ol class="lista-pasos">
                            <li>Desgrasar el peceto y sazonarlo con sal y pimienta a gusto. Remojar los hongos secos en
                                el
                                vino tinto.
                                Poner a hervir un cucharón del caldo en una cacerola sobre fuego fuerte y rehogar allí
                                las
                                verduras. Una vez crocantes, incorporar la carne y dorarla en toda su superficie.</li>
                            <li>Cuando la carne se haya dorado, agregar 2 a 3 cucharones de caldo caliente y dejar
                                hervir.
                                Bajar el fuego y mantener la cocción en un hervor suave.</li>
                            <li>Volcar el vino de la maceración en la cacerola y picar los hongos a cuchillo.
                                Agregar el bouquet de hierbas aromáticas y la maicena disuelta en un poco de caldo.
                                Revolver
                                y cocinar durante 15 minutos. Incorporar los hongos y condimentar con pimienta a gusto.
                            </li>
                            <li>Completar la cocción del peceto hasta que esté a punto, durante aproximadamente 25 a 30
                                minutos. Revolver y rotar la carne de vez en cuando durante la cocción.</li>
                            <li>Apagar el fuego y dejar reposar durante unos minutos antes de servir.
                                Presentar la carne cortada en rodajas, salseada y acompañada con una guarnición de
                                vegetales cocidos al vapor.</li>

                        </ol>


                    </li>
                    <img class="foto-lista" src="/img/peceto.jpg" alt="imagen peceto ">
                    <li>

                        <a name="14"></a>
                        <h3><em>Pechuguitas de pollo a la criolla</em></h3>

                        <h3>Ingredientes</h3>
                        <ul class="lista-pasos">
                            <li>4 pechugitas perfectamente limpias y desengrasadas</li>
                            <li>2 cucharadas soperas de fécula de maíz</li>
                            <li>1 cebolla grande</li>
                            <li>1 morrón rojo</li>
                            <li>1 morrón amarillo</li>
                            <li>1 morrón verde</li>
                            <li>1 diente de ajo</li>
                            <li>Laurel</li>
                            <li>½ vaso de vino blanco</li>
                            <li>1 cucharadita de caldo deshidratado desgrasado sin sal </li>
                            <li>Pimienta a gusto</li>

                        </ul>
                        <h3>Preparación</h3>

                        <ol class="lista-pasos">
                            <li>Cortar las pechugas en tiras gruesas de 2 cm. Aproximadamente.</li>
                            <li>Pasarlas ligeramente por la fécula. Reservar</li>
                            <li>Dorar en rocío vegetal (en una sartén con tapa), la cebolla cortada en juliana, junto
                                con los morrones en tiras.</li>
                            <li>Perfumar con el laurel y el diente de ajo (pinchado con un escarbadientes para luego
                                retirar)</li>
                            <li>Agregar las pechugitas y dorar levemente.
                                Salpicar con el caldo en polvo y agregar el vino blanco.</li>
                            <li>Dejar reducir y luego tapar con fuego al mínimo hasta que estén cocidas.
                                Debe evitarse la cocción excesiva.</li>
                        </ol>



                    </li>

                    <img class="foto-lista" src="/img/pechugas-criollas.avif" alt=" imagen pechugas criollas">

                    <li>
                        <a name="15"></a>
                        <h3><em>Carne salteada con vegetales</em></h3>

                        <h3>Ingredientes</h3>
                        <ul class="lista-pasos">
                            <li>2 tallos de cebollín</li>
                            <li>1 manojo de cilantro ( 2 cdas picadito)</li>
                            <li>1 cebolla chica</li>
                            <li>1 zanahoria chica</li>
                            <li>½ pimiento rojo</li>
                            <li>½ tallo de celeri</li>
                            <li>1 cucharada de aceite de oliva</li>
                            <li>1 ucharada de endulzante</li>
                            <li>2 dientes de ajo</li>
                            <li>1 cucharadita de jengibre</li>
                            <li>Pizca de sal y pimiento negra</li>

                        </ul>
                        <h3>Preparación</h3>

                        <ol class="lista-pasos">
                            <li>Picar la carne en tiras o en cuadros. Picar el ajo bien pequeño y el jengibre</li>
                            <li>Corta los vegetales en julianas</li>
                            <li>Coloca el aceite de oliva en una sartén y, cuando caliente, agrega el endulzante y
                                espera que se haga caramelo</li>
                            <li>Agrega la carne y sofríe</li>
                            <li>Saca la carne y reserva en un recipiente</li>
                            <li>En la misma olla, agrega 1 cda de aceite de sésamo</li>
                            <li>Agrega el ajo y el jengibre</li>
                            <li>Agrega y sofríe los vegetales cortados en julianas (cebolla, zanahoria, pimentón,
                                celery)</li>
                            <li>Agrega la carne y mezcla o sirvelas por separado</li>
                            <li>Espolvorea con cebollín y cilantro</li>
                        </ol>


                    </li>
                    <img class="foto-lista" src="/img/carne-vegetales.jpg" alt=" imagen carne de vegetales">

                </ul>

            </article>
        </div>

    </main>


    <section>

        <a name="contacto"></a>
        <h2 class="titular">Recibí nuestras novedades</h2>

        <ul id="errores">

        </ul>
        <form id="form">

            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" placeholder="Ej: Cosme">


            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido" placeholder="Ej: Fulanito">


            <label for="correo">Correo electrónico:</label>
            <input type="text" id="correo" name="correo" placeholder="cfulanito@gmail.com">


            <label for="nacionalidad">Nacionalidad (opcional):</label>
            <select id="nacionalidad" name="nacionalidad">
                <option value="value1">argentina</option>
                <option value="value1">brasilera</option>
                <option value="value1">boliviana</option>
                <option value="value1">chilena</option>
                <option value="value1">colombiana</option>
                <option value="value1">ecuatoriana</option>
                <option value="value1">paraguaya</option>
                <option value="value1">peruana</option>
                <option value="value1">uruguaya</option>
                <option value="value1">venezolana</option>
                <option value="value2">Otra</option>

            </select>

            <label for="Mensaje">Mensaje:</label>
            <textarea id="Mensaje" name="mensaje" placeholder=" Mínimo 100 carácteres"></textarea>
            <button type="submit">Enviar</button>

        </form>

    </section>
    </div>
    <!-- Boton de scroll hacia arriba -->
    <div id="button-up">
        <i class="fa-sharp fa-solid fa-chevron-up"></i>
    </div>

    <!-- FOOTER -->
    <%- include("./partials/footer.ejs") %>

    <script src="/scripts/validacionForm.js"></script>
    <script src="/scripts/scroll.js"></script>
</body>

</html>