<footer>
    <div class="contenedor-footer">

        <p> Made with ♥ by Ariel Cesari - Healthy Life -</p>

        <ul class="nav-bar-footer">
            <li><a href="/">Inico</a></li>
            <li><a href="/recetas">Recetas</a></li>
            <li><a href="/motivaciones">Motivaciones</a></li>
            <li><a href="/consejos">Consejos</a></li>


        </ul>

        <ul class="ul-iconos">

            <li><a target="_blank" href="https://www.instagram.com/cesariel.rp/"><i
                        class="fa-brands fa-instagram"></a></i></li>
            <li><a href="https://api.whatsapp.com/send?phone=5491125789696" target="_blank"><i class="fa-brands fa-whatsapp"></a></i> </li>
            <li><a target="_blank" href="https://facebook.com/profile.php/?id=1144671961"><i
                        class="fa-brands fa-facebook"></a></i>
            </li>
        </ul>

    </div>

</footer>