
<a href="/"><img class="img-header" src="/img/foto-header.jpg" alt="logo"></a>
<nav>
    <ul class="nav-bar">
        <li><a href="/"> <i class="fa-solid fa-house"> Inico </i></a></li>
        <li><a href="/recetas"><i class="fa-solid fa-utensils"> Recetas </i></a></li>
        <li><a href="/motivaciones"><i class="fa-solid fa-heart"> Motivaciones </i></a></li>
        <li><a href="/consejos"><i class="fa-solid fa-pen-to-square"> Consejos </i></a></li>
        <li><a href="#contacto"><i class="fa-regular fa-paper-plane"> Contacto</i></a></li>
    </ul>

</nav>
